.box {
    width: 100px;
    height: 100px;
    background-color: red;
    img {
        width: 100px;
        height: 100px;
    }
    .ct {
        display: flex;
        background: url(../../asset/images/test_2.jpg);
        width: 200px;
        height: 200px;
    }
}